#home {
    flex-direction: column;
    height: auto;
}

#home .home1 {
    width: 100%;
}

#home .home1 img {
    width: 50%;
    margin: 10% 0px auto 0px;
}

#home .home2 {
    width: 100%;
}

#about .about1 .about1-div2 {
    padding: 20px 0px 20px 10%;
}

.left {
    width: 100px;
}
.contact-container{
    flex-direction: column;
}
.contact-container .contact-form{
    width: 100%;
    padding: 2% 10%;
}
.contact-container .contact-form .form-group{
    width: 100%;
}
.contact-container .contact-message{
    width: 100%;
    padding: 10%;
}

@media only screen and (max-width: 700px) {
    #home .home1 img {
        margin: 18% 0px auto 0px;
        width: 60%;
    }

    #about {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .about1, #about .about2 {
        width: 100%;
    }

    .skill1 {
        flex-direction: column;
    }

    .skill-bars {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    
    #home .home1 img {
        margin: 15% 0px auto 0px;
        width: 70%;
    }

    #home .home2 h1 {
        font-size: 35px;
    }

    #home .home2 .intro {
        font-size: 18px;
    }

    #home .home2 .social-link a .fa-brands {
        margin: 5px;
        font-size: 1rem;
        cursor: pointer;
    }

    .skill-bars {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    #home .home1 img {
        width: 80%;
        margin: 15% 0px auto 0px;
    }

    #home .home2 h1 {
        font-size: 30px;
    }

    #home .home2 .intro {
        font-size: 15px;
    }

    #about .about1 .about1-div2 {
        padding: 20px 0px 20px 10px;
        margin: auto;
    }

    #about .about2 img {
        width: 250px;
    }
    .contact-container .contact-message{
        width: 100%;
        padding: 5px;
    }
    #footer p{
        font-size: 16px;
    }
}
