@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Amiri', serif;
    font-size: 20px;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

section {
    width: 100%;
}

#home {
    display: flex;
    width: 100%;
    height: 100vh;
}

#home .home1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .home1 img {
    width: 75%;
}

#home .home2 {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home .home2 .hello {
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}

#home .home2 h1 {
    font-size: 40px;
    margin: -10px 0px 30px 0px;
    font-family: 'Great Vibes', cursive;
}

#home .home2 .intro {
    font-size: 20px;
}

#home .home2 .social-link a {
    text-decoration: none;
    color: inherit;
}

#home .home2 .social-link a .fa-brands {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

#home .home2 button {
    width: 150px;
}

/*===================
     ABOUT CSS  
===================*/

#about {
    display: flex;
    width: 100%;
    /* height: 100vh; */
}

#about .about1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#about .about1 .about1-div1 {
    padding: 20px 20px 20px 10%;
}

#about .about1 .about1-div2 {
    padding: 20px 20px 20px 10%;
}

.left {
    width: 25%;
    font-family: 'Amiri', serif;
    font-size: 20px;
}

.right {
    width: auto;
    font-family: 'Amiri', serif;
    font-size: 20px;
}

#about .about2 {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

#about .about2 .about2-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about .about2 .about2-div img {
    /* border: 2px solid black; */
    margin: auto;
    width: 300px;
}

#about .about2 .about2-div h1 {
    /* border: 2px solid black; */
    /* margin: 0; */
    width: auto;
    font-size: 18px;
}

/*===================
     SERVICE CSS  
===================*/

#service .service1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 20px;
    flex-wrap: wrap;
}

#service .service1 .service1-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

#service .service1 .service1-div h2 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


/*===================
     SKILL CSS  
===================*/
/* Skill progress Bar  */
.skill-bars {
    width: 40%;
}

.skill-bars .bar {
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0px;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}

.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
        0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span, .bar .progress-line.css span, .bar .progress-line.php span, .bar .progress-line.c span, .bar .progress-line.cpp span, .bar .progress-line.mysql span {
    width: 90%;
}

.bar .progress-line.dsa span, .bar .progress-line.java span, .bar .progress-line.python span, .bar .progress-line.reactjs span, .bar .progress-line.js span, .bar .progress-line.bootstrap span {
    width: 80%;
}

.bar .progress-line.laravel span {
    width: 70%;
}

.bar .progress-line.jquery span, .bar .progress-line.mongodb span, .bar .progress-line.expressjs span {
    width: 50%;
}


.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.html span::after, .progress-line.css span::after, .progress-line.php span::after, .progress-line.c span::after, .progress-line.cpp span::after, .progress-line.mysql span::after {
    content: "90%";
}

.progress-line.dsa span::after, .progress-line.java span::after, .progress-line.python span::after, .progress-line.reactjs span::after, .progress-line.js span::after, .progress-line.bootstrap span::after {
    content: "80%";
}

.progress-line.laravel span::after {
    content: "70%";
}

.progress-line.jquery span::after, .progress-line.mongodb span::after, .progress-line.expressjs span::after {
    content: "50%";
}


.skill1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0%;
}

/*===================
    Achievement CSS  
===================*/
#achievement, #project {
    width: 100%;
    padding: 5%;
}

/*===================
     CONTACT CSS  
===================*/

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2%;
}

.contact-container .contact-form {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contact-container .contact-form .form-group {
    width: 80%;
}

.contact-container .contact-form .form-group label {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 18px;
}

.contact-container .contact-message {
    width: 50%;

}

/*===================
     FOOTER CSS  
===================*/

#footer p {
    font-size: 18px;
}

#footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .social-link a {
    text-decoration: none;
    color: inherit;
}

#footer .social-link a .fa-brands {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

#footer .social-link a .fa-brands:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

/*===================
    Go To Top CSS  
===================*/
#home, #about, #service, #skill, #contact {
    padding-top: 100px;
}

/*===================
    Navbar To Top CSS  
===================*/
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    /* font-weight: 600; */
    /* border: 2px solid  #000; */
    margin-left: -30px;
    font-family: 'Amiri', serif;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    /* color: #f2f2f2; */
    /* border: 2px solid black; */
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: 'Amiri', serif;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111;
    /* background: #fff; */
}

nav .menu-btn i {
    /* color: #fff; */
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {

    /* #home, #about, #service, #skill, #contact{
            padding-top: 20px;
        } */
    nav .menu-btn i {
        display: block;
        font-size: 30px;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    #nav ul li a:active~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #f8f9fa;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        /* width: 100%; */
        margin: 40px 20px 40px 0px;
        /* margin: auto; */
    }

    nav ul li a {
        /* border: 2px solid black;  */
        /* width: 100%; */
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}